.rosterModal{
  .nav-tabs {
    & > li {
      margin-bottom: 3px;
      & > a {
        background: #E2E2E2;
        color: $color-dark-purple-o;
      }
    }
  }
  li{
    &.active{
      & > a {
        background-color: $color-dark-purple-o;
        color: $color-white;
      }
    }
  }

  .rosterEmp{
    .re-emp{
      margin-bottom: 5px;
      .btn{
        padding: 4px 6px;
      }
    }
  }

  .funkyradio-weekDays{
    background: $color-primary;
    color: $color-white;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    border: none;
    label{
      border: none;
      margin-top: 4px;
    }
  }
}





.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2em;
  background: #eee;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #eee;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}


.funkyradio-success input[type="checkbox"]:empty ~ label:before {
  color: $color-white;
  background-color: #FFCC88;
}
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: $color-white;
  background-color: $color-primary;
}
.funkyradio {
  width: 600px;
}
.funkyradio-col {
  width:65px;
  float: left;
  margin: 2px 9px;
}